<div class="vertical-menu"  >

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu" >

            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
<!--
                <li>
                    <a href="/home" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>

                </li> -->

                <!-- <li>
                    <a href="Listadmin" class=" waves-effect">
                        <i class="bx bx-user-circle"></i>

                        <span key="t-layouts">Administrateur</span>
                    </a>

                </li> -->

                <li>
                    <a href="javascript:void(0)" routerLink="../listEnseignant" class=" waves-effect">
                        <i class="fa fa-users"></i>

                        <span key="t-layouts">Enseignants</span>
                    </a>

                </li>


                <li>
                    <a href="javascript:void(0)" routerLink="../listEtudiant" class=" waves-effect">
                        <i class="fa fa-users"></i>

                        <span key="t-tasks">Etudiants</span>
                    </a>

                </li>

                <!-- <li>
                    <a href="Listcours" class=" waves-effect">
                        <i class="bx bx-task"></i>

                        <span key="t-contacts"> Cours</span>
                    </a>

                </li> -->


                <li>


                </li>

                <li>
                    <a href="javascript:void(0)" routerLink="../listContact" class="waves-effect">
                        <i class="bx bxs-user-detail"></i>

                        <span key="t-authentication">Contact</span>
                    </a>

                </li>






            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
